.curtain {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: 20;
  will-change: transform;
  background-repeat: no-repeat;
  background-size: cover;
}

.curtain--left {
  left: 0;
  background-position: right center;
}

.curtain--right {
  right: 0;
  background-position: left center;
}
